* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body {
    font-family: Faculty Glyphic, sans-serif;
    margin: 0;
    padding: 0;
  

}

.container {
    margin: auto;
    padding: 55px 20px;
    height: 100dvh;
    
    max-height: 100dvh;
    max-width: 75%;


    min-height: 100vh;
    height: 100vh;
   
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
}
.rosa{
background: #be4477;
}
.azul{
background-color: #86aeb6;
}
.marron{
background: #9b500d
}
/* contenedores */
.left, .right {
    flex: 1;
    width: 50%;
    padding: 10px;

}
.right {  
    padding: 0 100px 50px 0;  
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* mover las fotos de opciones */
.option {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.option img {
    width: 30%;
    height: 30%;
    cursor: pointer;
    border-radius: 15px;
}

/* foto principal */
.main_image img {
    width: 100%;
    height: 100%;

    max-width: 800px;
    max-height: 800px;

    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);

    margin-bottom: 50px;
}


/* textos */
h3 {
    color: #284d53;
    margin: 20px 0 20px 0;
    font-size: 40px;
}
.rosa h3{
    color: #a61d55;
}
.marron h3{
    color: #9b500d;
}
h4 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-bottom: 1rem;
    letter-spacing: 2px;
}
p {
    color: #000000;
    margin: 10px -50px 0 0;
    line-height: 20px;
    text-align: justify;
    font-weight: 500;
}
h5 {
    font-size: 15px;
}


/* botones */
button {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
  
    color: white;

    border-radius: 30px;
    font-weight: 700;
    transition:
        box-shadow 0.15s,
        transform 0.15s;

    font-size: 25px;
    margin-top: 10%;

}
.azul button{
  background: #2e8da1;
      box-shadow:
        rgba(45, 35, 66, 0.3) 0 4px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
        #2c4b53 0 -3px 0 inset;
}
.rosa button{
 background: #be4477;
     box-shadow:
        rgba(45, 35, 66, 0.3) 0 4px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
        #a61d55 0 -3px 0 inset;
}
.marron button{
 background:#b3753c; 
     box-shadow:
        rgba(45, 35, 66, 0.3) 0 4px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
        #9b500d 0 -3px 0 inset;
}
.button:hover {

    transform: translateY(-2px);
}


@media screen and (max-width: 1366px) and (max-height: 768px) {
.option img {
    width: 30%;
    height: auto;
}
body h3{
    font-size: 50px;
    letter-spacing: 5px;  
}
body h4{
    font-size: 20px;
    padding-bottom: 1rem;
   
}
body p {
    font-size: 15px;
}
button {
    padding: 0.5rem;
}




}